{%extends 'base.html'%}
{%load static%}
{%block title%}Categories{%endblock%}

{% block content %}
{% include '../components/sidebar.html'%}
<div class="w-5/6 mx-auto">

    <h1 class="text-3xl mb-8 text-center">Categories</h1>
    <div>
        <img class="h-[40vh] w-full object-cover object-top lg:hidden" src="{%static 'assets/samsung-mobile.jpg'%}">
        <img class="h-[50vh] w-full object-cover hidden lg:block" src="{%static 'assets/samsung-desktop.jpg'%}">
    </div>

    <div class="flex flex-col items-center justify-start lg:grid lg:grid-cols-4 mx-auto">
        {% for category in categories %}

        <a class="text-3xl font-raleway m-2 p-2 bg-neutral-900 text-white rounded-md hover:scale-95 duration-200 ease-in-out"
            href="{{category.get_absolute_url}}">
            <div class="aspect-square">
                <img class=" aspect-square w-full object-cover" src="{{category.cover.url}}" alt="">
                <div class="text-center mb-2">
                    <h2 class="">{{category.name}}</h2>
                </div>
            </div>
        </a>

        {% endfor %}
    </div>
</div>
{% endblock content %}