{%extends 'base.html'%}
{%load static%}
{%block title%}Categories{%endblock%}

{% block content %}
{% include '../components/sidebar.html'%}
<div class="md:col-span-3 lg:col-span-4 xl:col-span-9 2xl:col-span-10">

    <h1 class="text-3xl mb-8 text-neutral-800 text-center">Categories</h1>


    <div class="flex flex-col items-center justify-start md:grid md:grid-cols-2 xl:grid-cols-4 mx-auto gap-x-2">
        {% for category in categories %}
        {% include "./../components/category-card.html" with category=category %}
        {% endfor %}
    </div>
</div>
{% endblock content %}