{% extends "../base.html" %}
{% load static %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
{% include "../components/sidebar.html" %}

<div class="grid md:col-span-3 lg:col-span-4 xl:col-span-9 grid-cols-1 lg:grid-cols-8 lg:gap-8">

    <!-- Carousel -->
    <div class="carousel relative col-span-full lg:col-span-3 overflow-hidden">
        <div class="carousel-inner h-[50vh]">
            {% for image in images %}
            <div class="carousel-item hidden w-full h-full text-center">
                <img src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}"
                    class="w-full h-full object-contain rounded-2xl" loading="lazy" />
            </div>
            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <button id="prev"
            class="absolute left-0 top-1/2 -translate-y-1/2 bg-gray-700 text-white opacity-30 hover:opacity-70 h-full w-8 flex items-center justify-center rounded-l-full shadow-md shadow-black/40">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="currentColor">
                <path
                    d="M8.36853 12L13.1162 3.03212L14.8838 3.9679L10.6315 12L14.8838 20.0321L13.1162 20.9679L8.36853 12Z" />
            </svg>
        </button>
        <button id="next"
            class="absolute right-0 top-1/2 -translate-y-1/2 bg-gray-700 text-white opacity-30 hover:opacity-70 h-full w-8 flex items-center justify-center rounded-r-full shadow-md shadow-black/40">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="currentColor">
                <path
                    d="M15.6315 12L10.8838 3.03212L9.11622 3.9679L13.3685 12L9.11622 20.0321L10.8838 20.9679L15.6315 12Z" />
            </svg>
        </button>
    </div>

    <!-- Product Info -->
    <div class="col-span-full lg:col-span-5 flex flex-col text-gray-800 p-4">
        <h1 class="text-4xl my-4">{{ product.name }}</h1>
        <hr class="text-gray-300 mb-4" />
        <h2 class="text-2xl font-bold mb-4">Price: ${{ product.price }}</h2>

        <div class="prose prose-lg max-w-none mb-6">
            {{ product.description|safe }}
        </div>

        <!-- Add to Cart -->
        <div class="flex flex-wrap gap-x-1 md:gap-4 items-center justify-end lg:justify-start my-4">
            <button id="add-button" value="{{ product.id }}"
                class="px-4 py-3 bg-gradient-to-tr from-green-700 to-green-500 hover:to-green-800 duration-300 shadow-md hover:scale-95 text-white rounded-sm">
                Add to Cart
            </button>

            <select name="qnty" id="quantity{{ product.id }}"
                class="text-black p-4 rounded-sm bg-neutral-200 shadow-md">
                {% for i in "12345" %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>

            <a href="{% url 'orders:summary' %}"
                class="px-4 py-3 bg-gradient-to-tr from-teal-700 to-teal-500 hover:to-teal-800 duration-300 shadow-md hover:scale-95 text-white rounded-sm">
                Cart
            </a>
        </div>
    </div>

    <!-- Reviews -->
    <div class="col-span-full mb-8 bg-neutral-200 rounded-xl p-4 m-4 shadow-md shadow-black/20">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Reviews</h2>

        {% if not reviews %}
        <p class="text-lg text-gray-600">No Reviews Yet</p>
        {% else %}
        <div class="flex flex-wrap gap-4">
            {% for review in reviews %}
            <div class="bg-white text-black p-4 shadow-md border-2 border-black w-full md:w-96">
                <div class="flex justify-between items-center border-b-2 border-black mb-4">
                    <h3 class="text-2xl font-bold">{{ review.user.username }}</h3>
                    <div class="flex items-center">
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M23.632 9.201a.628.628 0 0 1-.22.678l-5.726 4.96 1.727 7.394a.606.606 0 0 1-.935.676l-6.503-3.953-6.503 3.953a.713.713 0 0 1-.374.112.57.57 0 0 1-.34-.109.629.629 0 0 1-.222-.679l1.729-7.393L.539 9.879A.607.607 0 0 1 .897 8.78l7.536-.635 2.965-7.083a.62.62 0 0 1 1.155.001l2.965 7.082 7.536.635a.63.63 0 0 1 .578.42z" />
                        </svg>
                        <span class="ml-2 text-xl font-black">{{ review.rating }}</span>
                    </div>
                </div>
                <p>{{ review.review }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>


<script>
    let currentIndex = 0;
    const items = $('.carousel-item');
    items.eq(currentIndex).toggleClass('hidden');
    const itemCount = items.length;

    function showItem(index) {
        items.addClass('hidden');
        items.eq(index).removeClass('hidden');
    }

    $('#next').click(function () {
        currentIndex = (currentIndex + 1) % itemCount;
        showItem(currentIndex);
    });

    $('#prev').click(function () {
        currentIndex = (currentIndex - 1 + itemCount) % itemCount;
        showItem(currentIndex);
    });

    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "orders:bag_add" %}',
            data: {
                item_id: $('#add-button').val(),
                quantity: $("#quantity" + {{ product.id }} + " option:selected").text(),
            csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
    },
        success: function (json) {
            const messageBox = document.getElementById("message-box");
            const messagesList = document.querySelector(".messages");
            const newMessage = document.createElement("li");
            newMessage.className = "message text-lg px-4 py-2 rounded-md";
            newMessage.textContent = json.message;
            messagesList.appendChild(newMessage);
            messageBox.classList.add('bottom-12');
            setTimeout(function () {
                console.log("in the timeout")
                newMessage.style.display = 'none';
            }, 2000);
        },
        error: function (xhr, errmsg, err) { }
      });
    })
</script>
{% endblock %}