<footer class="w-full h-[40vh] lg:h-[30vh] flex flex-col justify-between items-center font-raleway font-extralight">
    <ul class="grid grid-cols-2 lg:grid-cols-3 text-center mt-12">
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Explore</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Categories</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">New Uploads</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Sign Up</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Sign In</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Privacy Policy</a>
        <a class="py-1 my-1 lg:mx-24 hover:text-amber-300 hover:underline duration-200" href="">Terms and Conditions</a>
    </ul>
    <div class="pb-4 text-slate-300 text-sm">
        <span class="lg:mx-12">Copyright 2024.</span>
        <span class="lg:mx-12">All Rights Reserved</span>

    </div>

</footer>