<a class="m-2 rounded-md bg-neutral-900 flex w-full sm:w-64 min-h-[26rem] lg:w-96 hover:scale-[98%] duration-100 shadow-md hover:shadow-black/90 shadow-black/40"
    href="{{product.get_absolute_url}}">
    <div class="flex flex-col">
        <img class="w-full lg:w-96 object-cover" src="{{product.cover.url}}" alt="">
        <div class="py-4 px-2 flex flex-col justify-between">
            <h2 class="text-2xl my-1">{{product.name}}</h2>
            <div class="font-light my-1">{{product.category}}</div>
            <div class="font-bold my-1 text-2xl">$ {{product.price}}</div>
        </div>
    </div>
</a>