{%extends 'base.html'%}
{%block title%}Bag Summary{%endblock%}
{%block content%}
{% include '../components/sidebar.html'%}

<div class="md:col-span-3 lg:col-span-4 xl:col-span-9 2xl:col-span-10">
  <div class="text-center flex flex-col items-center">
    <h2 class="text-3xl my-4 font-bold">Your Bag</h2>
    {% if bag %}
    <button id="clear-button"
      class="bg-red-500 hover:bg-red-700 text-white p-2 m-2 w-64 rounded-xl shadow-md shadow-black/20 duration-200">
      Clear Bag
    </button>
    {% endif %}
  </div>
  <div class="flex flex-col justify-start items-center text-gray-800">
    {% for item in bag %}
    {%with product=item.item%}
    <div data-index="{{product.id}}" id="{{product.id}}"
      class="bag-item border border-gray-300 text-gray-800 shadow-md shadow-black/20 rounded-xl flex flex-col lg:flex-row justify-between lg:w-5/6  mt-8">
      <img class="w-32 h-full object-cover" src="{{product.cover.url}}" alt="">
      <div class="text-3xl self-center">{{product.name}}</div>
      <div class="flex flex-col items-center justify-evenly pr-8">
        <div class="flex flex-col">
          <div class="bag-item-data">Price: {{product.price}}</div>
        </div>
        <div class="flex p-2">
          <div class="flex items-start justify-between">
            <label for="quantity{{product.id}}">Qnty</label>
            <select class="text-black p-2 border-2 border-gray-300 mx-4 rounded-xl" name="quantity"
              id="quantity{{product.id}}">
              <option value="{{item.quantity}}" selected hidden>{{item.quantity}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

        </div>
        <div class="flex mb-4">
          <button id="update-button"
            class="bg-green-500 text-white hover:bg-green-700 rounded-xl text-center mt-4 mx-1 px-3 py-2"
            data-index="{{product.id}}">
            Update
          </button>
          <button id="remove-button"
            class="bg-red-500 text-white hover:bg-red-700 rounded-xl text-center mt-4 mx-1 px-3 py-2"
            data-index="{{product.id}}">
            Remove
          </button>
        </div>
      </div>
    </div>
    {%endwith%}
    {% endfor %}
    {% if not bag %}
    <div class="animate-pulse text-2xl p-8 text-center">Your Bag is Empty</div>
    <a href="{% url 'store:explore' %}" class="text-white underline inline-block p-2 bg-blue-600 rounded-xl">Start
      shopping</a>
    {% endif %}
    <div class="flex flex-col md:flex-row gap-4 justify-center items-center my-8">
      <div class="text-xl">Total Amount:<span class="font-semibold"> ₹{{bag.get_subtotal}}</span></div>
      <div class="text-lg">Total Items: <span class="font-semibold">{{quantity}}</span></div>
    </div>

    {%if user.is_authenticated and bag %}
    <!-- <a href="{%url 'payment:create_payment'%}"
      class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-xl shadow-md transition duration-200">
      Proceed to Payment
    </a> -->

    <a href="{%url 'orders:save_address'%}"
      class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-xl shadow-md transition duration-200">
      Proceed to place order
    </a>
    {%endif%}
  </div>

</div>

<script>
  //<!--delete-->
  console.log("This is from summary")
  $("#remove-button").click(function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_delete" %}',
      data: {
        item_id: $(this).data("index"),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $('#' + item_id).remove();
        if (json.quantity == 0) {
          subtotal = 0
        } else {
          subtotal = json.subtotal
        }
        console.log('inserting message')
        const messageBox = document.getElementById("message-box");
        const messagesList = document.querySelector(".messages");
        const newMessage = document.createElement("li");
        newMessage.className = "message text-lg px-4 py-2 rounded-md shadow-sm shadow-black/50";
        newMessage.textContent = json.message;
        messagesList.appendChild(newMessage);
        messageBox.style.display = 'flex';
        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
        setTimeout(function () {
          console.log("in the timeout")
          newMessage.style.display = 'none';
        }, 2000);
      },
      error: function (xhr, errmsg, err) { },
    });
  });

  //<!--update-->

  $("#update-button").click(function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_update" %}',
      data: {
        item_id: $(this).data("index"),
        quantity: $("#quantity" + item_id + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        const messageBox = document.getElementById("message-box");
        const messagesList = document.querySelector(".messages");
        const newMessage = document.createElement("li");
        newMessage.className = "message text-lg px-4 py-2 rounded-md shadow-sm shadow-black/50";
        newMessage.textContent = json.message;
        messagesList.appendChild(newMessage);
        messageBox.style.display = 'flex';
        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
        setTimeout(function () {
          console.log("in the timeout")
          newMessage.style.display = 'none';
        }, 2000);

      },
      error: function (xhr, errmsg, err) { },
    });
  });

  //<!--clear bag-->
  $("#clear-button").click(function (e) {
    $.ajax({
      url: "{%url 'orders:bag_clear'%}",
      type: 'GET',
      success: function (json) {
        console.log(json.message)
        $('.bag-item').remove();
        const messageBox = document.getElementById("message-box");
        const messagesList = document.querySelector(".messages");
        const newMessage = document.createElement("li");
        newMessage.className = "message text-lg px-4 py-2 rounded-md shadow-sm shadow-black/50";
        newMessage.textContent = json.message;
        messagesList.appendChild(newMessage);
        messageBox.style.display = 'flex';
        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
        setTimeout(function () {
          console.log("in the timeout")
          newMessage.style.display = 'none';
        }, 2000);
      },
      error: function (xhr, errmsg, err) { },
    });
  });



</script>
{%endblock%}